<h2>You edit task {{task.title}}</h2>
<form method="POST" action="/task/{{task.id}}?_method=PUT">
    <div>
        <p>{{task.title}}</p>
        <input type="text" name="text" value="{{task.title}}">
        <button type="submit">Save</button>
    </div>
</form>
