<h1>Lista zadań do zrobienia:</h1>
    <section class="container">
        <ul class="todo-list">
            {{#each tasks}}
                <li>
                    <p>{{this.title}}</p>
                    <form method="POST" action="/task/deleted/{{this.id}}?_method=DELETE">
                        <button type="submit"><ion-icon name="trash-outline"></ion-icon>
                        </button>
                    </form>
                    <form method="GET" action="/task/edit/{{this.id}}">
                        <button type="submit">Edit task</button>
                    </form>
                </li>
            {{/each}}
        </ul>

        <div>
            <form method="POST" action="/task">
                <input type="text" name="text">
                <button type="submit">Add new task</button>
            </form>
        </div>
    </section>